# Dependency Directories
node_modules/
.venv/

# Local configuration and temp files
.DS_Store
.vscode/

# Archive/Trash
dev-scripts/

# Large binaries (Reference only)
shajra.pdf
shajra1.pdf
*.mp3

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
